
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;

}

html{
    scroll-behavior: smooth;
}

.container{
    width: 90%;
    margin: 0 auto;

}
        /* NAVBAR STARTING */

header{
    position: fixed;
    height: 70px;
    background: rgb(139, 137, 137);
    width: 100%;
    z-index: 1000;

}

nav {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
}

nav .logo{
    width: 50px;
    height: 50px;
    overflow: hidden;
}

nav .logo img{
    width: 50px;
    height: 50px;
}

nav .nav__menu ul {
    display: flex;
}

nav .nav__menu ul li{
    padding-right: 20px;
}

nav .nav__menu ul li a{
    color: #000000;
    font-size: 20px;
    line-height: 70px;
    cursor: pointer;
}

nav .nav__menu ul li:hover a{
    color: #00fff2;
}
nav .nav__menu ul li a.color{
    color: #F9880D;
}

nav .toggle__menu{
    display: none;
}

.bg__blur{
    display: none;
}

@media (max-width : 992px){

    nav .logo{
        margin-top: 10px;
    }
    header.active{
        background: linear-gradient( to right, #7b13dde0, #e207d0d7);

    }

    .bg__blur.active{
        display: initial;
        width: 100%;
        background-color: white;
        opacity: 0.9;
        height: 100vh;
        position: fixed;
        z-index: 500;
    }

    nav .nav__menu {
        position: absolute;
        left: 0;
        width: 100%;
        height: 100vh;
        top: 70px;
        text-align: center;
    }
    nav .nav__menu ul{
        display: flex;
        flex-direction: column;
        background: linear-gradient(to right, #7b13dde0, #e207d0d7);
        height: 100vh;
    }

    nav .nav__menu ul li{
        border-bottom: 2px solid #200bddf1;
        border-bottom-left-radius: 10px;
    }

    nav .toggle__menu{
        display: initial;
    }

    nav .toggle__menu .menu.active{
        display: none;
    }

    nav .toggle__menu .close{
        display: none;
    }

    nav .toggle__menu .close.active{
        display: initial;
    }

    nav .nav__menu{
        opacity: 0;
        visibility: hidden;
    }
    
    nav .nav__menu.active{
        opacity: 1;
        visibility: visible;
    }

    nav .nav__menu ul{
        display: flex;
        opacity: 0;
        position: relative;
        top: 0px;
        transform: perspective(600px) rotateY(-120deg);
        transition: transform 1s cubic-bezier(.14,.13,.74,.73);
    }
    
    nav .nav__menu ul.active{
        display: flex;
        opacity: 1;
        transform: perspective(600px) rotateY(0deg); 
    }

}   
            /* NAVBAR ENDING */
    
.details{
    position: relative;
    top: 70px;
    display: grid;
    grid-template-columns: 80%  20%;
    height: auto;
    overflow: hidden;
}

.details .details__container {
    background: rgba(124, 123, 123, 0.726);  
    height: 100%;  
    padding-bottom: 20px;
    position: relative;
    border-radius: 20px;
    left: 16px;

}

.details .details__container .details__content::before{
    content: '';
    background: url(../img/d_men.png);
    width: 80%;
    height: 80%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 70px;
    left: 10%;
}

.details .details__container .details__content .details__content__name h1{
    font-size: 28px;
    padding-top: 20px;
    text-align: center;
    width: 80%;
    margin: 0 auto;
}


.details .details__container .details__content .details__content__detail h4:nth-child(1){
    padding-top: 80px;
    font-size: 22px;
}

.details .details__container .details__content .details__content__detail h4:nth-child(3){
    padding-top: 80px;
}

.details .details__container .details__content .details__content__detail h4,
.details .details__container .details__content .details__content__detail h5
{
    font-size: 20px;
    padding-top: 24px;
    text-align: left;
    
    position: relative;
    left: 10%;
}

.details .details__container .details__content .details__content__detail p{
    font-size: 16px;
    padding-top: 20px;
    text-align: left;
    position: relative;
    left: 20%;
    width: 80%;
}

.details .details__container .details__content .details__content__detail ul li{
    font-size: 16px;
    position: relative;
    padding-top: 20px;
    text-align: left;
    left: 20%;
}

.details .details__men{
    z-index: 9;
}

.details .details__men img{
    width: 100%;
    height: 100%;
}

@media (max-width :992px){
    .details{
        grid-template-columns: 100%;
    }
    .details .details__container {
        background: rgba(124, 123, 123, 0.726);  
        height: 100%;  
        padding-bottom: 20px;
        position: relative;
        border-radius: 20px;
        left: 16px;
    
    }

    .details .details__container {
        background: rgba(124, 123, 123, 0.726);  
        height: 100%;  
        padding-bottom: 20px;
        position: relative;
        border-radius: 20px;
        left: 0px;
    
    }

    .details__men{
        display: none;
    }
}

.qualification{
    position: relative;
    width: 100%;
    height: auto;
    top: 80px;
    display: grid;
    grid-template-columns: 80% 20%;
    overflow: hidden;
}

.qualification .qualification__container::before{
    content: '';
    background: url(../img/readingBook1.svg);
    width: 80%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    left: 10%;
}
.qualification .qualification__container{
    background:  rgba(124, 123, 123, 0.726);
    border-radius: 20px;
    padding-bottom: 20px;
}
.qualification .qualification__container .qualification__content .qualification__content__detail h1{
    position: relative;
    padding-top: 20px;
    font-size: 24px;
    left: 10%;
}

.qualification .qualification__container .qualification__content .qualification__content__detail p{
    position: relative;
    padding-top: 20px;
    font-size: 20px;
    left: 15%;
}

.qualification .qualification__container .qualification__content .qualification__content__detail h6{
    position: relative;
    padding-top: 10px;
    font-size: 22px;
    left: 15%;
}

.qualification .qualification__container .qualification__content .qualification__content__detail ul li{
    position: relative;
    padding-top: 10px;
    font-size: 16px;
    left: 18%;
}

.qualification__select img{
    width: 100%;
    height: 110%;
}

@media (max-width :992px){

    .qualification{
        grid-template-columns: 100%;
    }
    .qualification__select{
        display: none;
    }
}

.project{
    width: 100%;
    background:  rgba(124, 123, 123, 0.726);
    height: 100%;

    position: relative;
    top: 90px;
    border-radius: 20px;
    overflow: hidden;
}

.project .project__container{
    background: url(../img/bg3.svg);
    background-repeat: no-repeat;
    background-size: center;
    background-position: center;
    width: 100%;
    height: 110%;
    padding-bottom: 20px;
}

.project .project__container .project__content .project__content__detail h1{
    position: relative;
    font-size: 24px;
    left: 10%;
    top: 40px;
}

.project .project__container .project__content .project__content__detail h2
{
    position: relative;
    font-size: 24px;
    left: 10%;
    top: 60px;
}

.project .project__container .project__content .project__content__detail ul li{
    position: relative;
    font-size: 20px;
    left: 4%;
    top: 10px;
    width: 90%;
    font-weight: normal;
    padding: 5px;
}

.project .project__container .project__content .project__content__detail ul.list li{
    position: relative;
    font-size: 20px;
    left: 14%;
    top: 60px;
    width: 90%;
    font-weight: normal;
    list-style: circle;
    padding-bottom: 20px;
    z-index: 8;
}

.project .project__container .project__content .project__content__detail ul.list li a{
    
    color: rgb(0, 24, 243);
}

.project .project__container .project__content .project__content__detail ul.list li:hover a{
    
    text-decoration: underline;
    color: rgb(0, 24, 243);
}



.project .project__container .project__content .project__content__detail p{
    position: relative;
    font-size: 16px;
    text-align: center;
    padding-top: 70px;
    width: 90%;
    padding-bottom: 20px;
}


@media (max-width : 768px){
    .project .project__container .project__content .project__content__detail p{
        position: relative;
        font-size: 16px;
        text-align: center;
        left: 6%;
        padding-top: 50px;
        width: 90%;
        padding-bottom: 20px;
    }
}



.contact__container {
    margin-top: 40px;
    background: rgba(124, 123, 123, 0.726);
    width: 100%;
    height: 20vh;
    position: relative;
    top: 100px;
    border-radius: 20px 20px 0 0 ;
    padding-bottom: 160px;
}

.contact__container .contact{
    position: relative;
    top: 20px;
}

.contact__container .contact h1{
    text-align: center;
    font-size: 24px;
}

.contact__container .contact__details{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 90%;
    left: 5%;
    position: relative;
    top: 40px;
    justify-content: space-evenly;
}

.contact__container .contact__details .contact__mail p{
    font-size: 20px;
    padding-top: 20px;

}

.contact__container .contact__details .contact__num p{
    font-size: 20px;
    padding-top: 20px;
}

.contact__container .contact__sm ul {
    display: flex;
    position: relative;
    top: 60px;
    left: 45%;
    width: 200px;
    justify-content: space-between;
}

@media (max-width : 768px){

    .contact__container {
        background: rgba(124, 123, 123, 0.726);
        width: 100%;
        height: 20vh;
        position: relative;
        top: 100px;
        border-radius: 20px 20px 0 0 ;
        padding-bottom: 200px;
    }
    
    .contact__container .contact__details{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        position: relative;
        width: 90%;
        left: 5%;
        position: relative;
        top: 20px;
        justify-content: start;
    }

    .contact__container .contact__sm ul {
        display: flex;
        position: relative;
        top: 40px;
        left: 10%;
        width: 200px;
        justify-content: space-between;
    }
}


footer{
    background: #000;
    width: 100%;height: auto;
    position: relative;
    top: 100px;
    bottom: 0;
    padding-bottom:80px;
    overflow: hidden;
}

.footer__container{
    display: flex;
    justify-content: space-between;
}

.footer__logo__content .footer__logo img{
    width: 40px;height: 40px;
    position: relative;
    top: 20px;
    left: 20px;
}

.footer__logo__content .footer__menu__list ul{
    position: relative;
    top: 20px;
    display: flex;
    flex-direction: column ;
    justify-content: space-between;
    left: 20px;
}


.footer__logo__content .footer__menu__list ul li{
    padding-top: 20px;
}

.footer__logo__content .footer__menu__list ul li a{
    color: white;
}

.footer__container .footer__reach{
    position: relative;
    top: 30px;
}

.footer__container .footer__reach h1{
    position: relative;
    color: white;
    left: 50px;
}

.footer__container .footer__reach input{
    position: relative;top: 30px;
    width: 100%;
    padding: 5px;

    background-color: white;
    color: #000;
    border: none;
    border-radius: 10px;
}

.footer__container .footer__reach button{
    position: relative;top: 50px;left: 25%;
    width: 50%;
    margin: 0 auto;
    padding: 10px;

    background-color: rgb(4, 0, 255);
    border-radius: 20px;
    color: #fff;
    border: none;
}

.footer__container .footer__contact {
    position: relative;
    top: 30px;
    right: 0;
}

.footer__container .footer__contact {
    width: 40px;height: 40px;
    border-radius: 50%;
    position: relative;
    right: 20px;
    background: #F9880D;
}

.footer__container .footer__contact a{
    color: #fff;
    font-size: 2rem;
    position: relative;
    left: 11px;
    top: -2px;

}

footer h6{
    text-align: center;
    font-size: 16px;
    position: relative;
    bottom: -76px;
    left: 3px;
    width: 100%;
    color: #fff;
}

@media (max-width : 768px){
    .footer{
        padding-bottom: 100px;
    }

    footer h6{
        text-align: center;
        font-size: 16px;
        position: relative;
        bottom: -90px;
        width: 100%;
        color: #fff;
    }

    .footer__container{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .footer__container .footer__reach{
        display: flex;
        flex-direction: column;
    }
    
.footer__container .footer__reach h1{
    position: relative;
    color: white;
    left: 10px;
}

.footer__container .footer__reach input{
    position: relative;top: 30px;
    width: 50%;
    padding: 5px;
    left: 10%;
    background-color: white;
    color: #000;
    border: none;
    border-radius: 10px;
}

.footer__container .footer__reach button{
    position: relative;top: 50px;left: 25%;
    width: 25%;
    margin: 0 ;
    padding: 10px;

    background-color: rgb(4, 0, 255);
    border-radius: 20px;
    color: #fff;
    border: none;
}

.footer__container .footer__contact {
    width: 40px;height: 40px;
    border-radius: 50%;
    position: absolute;
    right: 60px;
    background: #F9880D;
}


footer h6{
    text-align: left;
    font-size: 16px;
    position: relative;
    bottom: -90px;
    left: 18%;
    width: 100%;
    color: #fff;
}

}