.fa-instagram {
  color: #f0062d;
}

.fa-envelope {
  color: #ff7300;
}

.fa-twitter {
  color: #06e8f0;
}

.fa-heart {
  color: red;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

.container {
  width: 90%;
  margin: 0 5%;
}

header {
  position: fixed;
  width: 100%;
  background: #c4c4c4;
  z-index: 999;
}

nav {
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .logo img {
  width: 50px;
  height: 50px;
}

nav .nav__menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .nav__menu ul li {
  margin: 0 10px;
}

nav .nav__menu ul li a {
  color: black;
}

nav .nav__menu ul li a.active {
  color: #F9880D;
}

nav .toggle__menu {
  display: none;
  cursor: pointer;
}

@media (max-width: 992px) {
  .bg_blur.active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(255, 255, 255, 0.952);
  }
  header {
    -webkit-transition: background 500ms ease-in-out;
    transition: background 500ms ease-in-out;
  }
  header.active {
    background: -webkit-gradient(linear, left top, right top, from(#00aeff85), to(#1900ff5b));
    background: linear-gradient(to right, #00aeff85, #1900ff5b);
  }
  nav .nav__menu ul {
    opacity: 0;
    -webkit-transition: opacity 500ms ease-in-out;
    transition: opacity 500ms ease-in-out;
  }
  nav .nav__menu ul li {
    display: none;
  }
  nav .nav__menu.active ul {
    opacity: 1;
    position: fixed;
    width: 40%;
    height: 89vh;
    background: -webkit-gradient(linear, left top, right top, from(#00aeff85), to(#1900ff5b));
    background: linear-gradient(to right, #00aeff85, #1900ff5b);
    top: 70px;
    right: 0px;
    border-right: 2px solid #00aeff;
    border-top: 2px solid #00aeff;
    border-bottom: 2px solid #00aeff;
    border-left: 2px solid #1900ff;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  nav .nav__menu.active ul li {
    display: initial;
    margin: 2rem 1rem;
    text-align: center;
    border-bottom: 1px solid #00000050;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
  }
  nav .toggle__menu {
    display: block;
  }
  nav .toggle__menu .close {
    display: none;
  }
  nav .toggle__menu .close.active {
    display: initial;
  }
  nav .toggle__menu .menu.active {
    display: none;
  }
}

@media (max-width: 768px) {
  header {
    -webkit-transition: background 500ms ease-in-out;
    transition: background 500ms ease-in-out;
  }
  header.active {
    background: -webkit-gradient(linear, left top, right top, from(#00aeff85), to(#1900ff5b));
    background: linear-gradient(to right, #00aeff85, #1900ff5b);
  }
  nav .nav__menu ul {
    opacity: 0;
    -webkit-transition: opacity 500ms ease-in-out;
    transition: opacity 500ms ease-in-out;
  }
  nav .nav__menu ul li {
    display: none;
  }
  nav .nav__menu.active ul {
    opacity: 1;
    position: fixed;
    width: 60%;
    height: 89vh;
    background: -webkit-gradient(linear, left top, right top, from(#00aeff85), to(#1900ff5b));
    background: linear-gradient(to right, #00aeff85, #1900ff5b);
    top: 70px;
    right: 0px;
    border-right: 2px solid #00aeff;
    border-top: 2px solid #00aeff;
    border-bottom: 2px solid #00aeff;
    border-left: 2px solid #1900ff;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  nav .nav__menu.active ul li {
    display: initial;
    margin: 2rem 1rem;
    text-align: center;
    border-bottom: 1px solid #00000050;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
  }
  nav .toggle__menu {
    display: block;
  }
  nav .toggle__menu .close {
    display: none;
  }
  nav .toggle__menu .close.active {
    display: initial;
  }
  nav .toggle__menu .menu.active {
    display: none;
  }
}

.details {
  overflow: hidden;
  position: relative;
  top: 80px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 80% 20%;
      grid-template-columns: 80% 20%;
  height: 100vh;
}

.details .details__container {
  background: #c4c4c440;
  margin-top: 10px;
  width: 100%;
  height: 100vh;
  border-radius: 30px;
  position: relative;
  right: -16px;
  z-index: -1;
}

.details .details__content {
  background: url(../img/d_men.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.details .details__content__name h1 {
  z-index: 1;
  position: relative;
  top: 30px;
  text-align: center;
}

.details .details__content__detail h4 {
  z-index: 1;
  position: relative;
  top: 80px;
  left: 80px;
  font-size: 22px;
  padding: 10px;
}

.details .details__content__detail ul li {
  position: relative;
  top: 80px;
  left: 150px;
  font-size: 16px;
  padding: 10px;
  list-style-type: disc;
}

.details .details__content__detail h5 {
  z-index: 1;
  position: relative;
  top: 140px;
  left: 90px;
  font-size: 22px;
  padding: 10px;
}

.details .details__content__detail p {
  position: relative;
  top: 140px;
  left: 124px;
  font-size: 20px;
  padding: 10px;
}

.details .details__men {
  z-index: 1;
}

.details .details__men img {
  width: 100%;
  height: 80%;
}

@media (max-width: 992px) {
  .details {
    overflow: hidden;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
  .details .details__container {
    background: #c4c4c440;
    margin-top: 10px;
    width: 100%;
    height: 110vh;
    border-radius: 30px;
    position: relative;
    right: 0px;
    z-index: -1;
  }
  .details__men {
    display: none;
  }
}

@media (max-width: 768px) {
  .details .details__content {
    height: 110%;
    background: none;
  }
  .details .details__content__detail p {
    position: relative;
    width: 70%;
    left: 120px;
    top: 140px;
    font-size: 20px;
    padding: 10px;
  }
}

@media (max-width: 400px) {
  .details .details__container {
    right: 0px;
  }
  .details .details__content {
    background: none;
  }
  .details .details__content__name h1 {
    z-index: 1;
    position: relative;
    top: 30px;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    font-size: 22px;
  }
  .details .details__content__detail h4 {
    left: 10%;
    font-size: 20px;
    width: 90%;
    margin: 0 auto;
  }
  .details .details__content__detail ul li {
    left: 20%;
  }
  .details .details__content__detail h5 {
    z-index: 1;
    left: 10%;
    font-size: 20px;
    width: 90%;
    margin: 0 auto;
  }
  .details .details__content__detail p {
    width: 80%;
    margin: 0 auto;
    left: 14%;
    font-size: 16px;
  }
}

@media only screen and (max-width: 250px) {
  .details .details__container {
    background: #c4c4c440;
    margin-top: 10px;
    width: 100%;
    height: 100vh;
    border-radius: 30px;
    position: relative;
    right: -16px;
    z-index: -1;
  }
}

.qualification {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60% 40%;
      grid-template-columns: 60% 40%;
  height: 100vh;
  top: 30vh;
}

.qualification .qualification__container {
  background: #c4c4c440;
  margin-top: 10px;
  width: 100%;
  height: 90vh;
  border-radius: 30px 0 0 30px;
  position: relative;
  z-index: -1;
}

.qualification .qualification__content {
  background: url(../img/readingBook1.svg);
  background-size: cover;
  background-position: center;
  padding: 10px;
  width: 100%;
  height: 100%;
}

.qualification .qualification__content__detail h1 {
  position: relative;
  font-size: 24px;
  top: 50px;
  left: 40px;
}

.qualification .qualification__content__detail h2 {
  position: relative;
  font-size: 24px;
  top: 90px;
  left: 40px;
}

.qualification .qualification__content__detail p {
  position: relative;
  font-size: 20px;
  top: 60px;
  left: 60px;
}

.qualification .qualification__content__detail h6 {
  position: relative;
  font-size: 16px;
  font-size: 22px;
  top: 110px;
  left: 60px;
}

.qualification .qualification__content__detail ul.pl li {
  position: relative;
  font-size: 20px;
  top: 130px;
  left: 90px;
  list-style: circle;
}

.qualification .qualification__content__detail h4 {
  position: relative;
  font-size: 22px;
  top: 160px;
  left: 40px;
}

.qualification .qualification__content__detail ul.ds li {
  position: relative;
  top: 170px;
  left: 90px;
  list-style: circle;
  font-size: 20px;
}

.qualification .qualification__select {
  margin-top: 10px;
  width: 100%;
  height: 90vh;
  background: #c4c4c440;
  border-radius: 0 30px 30px 0;
}

.qualification .qualification__select img {
  width: 100%;
  height: 100%;
}

@media (max-width: 992px) {
  .qualification {
    margin-top: -100px;
    overflow: hidden;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
  .qualification__select {
    display: none;
  }
  .qualification .qualification__container {
    background: #c4c4c440;
    margin-top: 10px;
    width: 100%;
    height: 90vh;
    border-radius: 30px;
    position: relative;
    z-index: -1;
  }
  .qualification .qualification__content__detail p {
    position: relative;
    font-size: 20px;
    top: 60px;
    left: 40px;
    width: 80%;
    margin: 0 auto;
  }
  .qualification .qualification__content__detail h6 {
    position: relative;
    font-size: 16px;
    font-size: 22px;
    top: 110px;
    left: 40px;
    width: 80%;
    margin: 0  auto;
  }
}

@media only screen and (max-width: 400px) {
  .qualification {
    position: relative;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    height: 100vh;
    top: 30vh;
  }
}

.project {
  position: relative;
  height: 90vh;
  margin-top: 30vh;
  padding: 10px;
}

.project .project__container {
  width: 100%;
  height: 100%;
  background: #c4c4c450;
  border-radius: 30px;
}

.project .project__content {
  background: url(../img/bg3.svg);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 20px;
  width: 100%;
  height: 100%;
}

.project .project__content__detail h1 {
  font-size: 24px;
  position: relative;
  top: 30px;
  left: 30px;
}

.project .project__content__detail h2 {
  font-size: 22px;
  position: relative;
  top: 80px;
  left: 30px;
}

.project .project__content__detail p {
  font-size: 16px;
  position: relative;
  top: 110px;
  text-align: center;
}

.project .project__content__detail ul li {
  position: relative;
  top: 30px;
  left: 30px;
  font-size: 16px;
  padding-bottom: 16px;
  list-style: circle;
  font-weight: 200;
}

.project .project__content__detail ul.list li {
  font-size: 20px;
  top: 90px;
  left: 60px;
  list-style: disc;
}

@media only screen and (max-width: 800px) {
  .project {
    overflow: hidden;
  }
  .project .project__content__detail ul li {
    width: 80%;
    font-style: normal;
  }
  .project .project__content__detail p {
    display: none;
  }
}

@media only screen and (max-width: 400px) {
  .project {
    position: relative;
    height: 110vh;
    padding-bottom: 30px;
    margin-top: 0vh;
    top: 25vh;
  }
  .project .project__content__detail h2 {
    font-size: 20px;
    position: relative;
    top: 80px;
    left: 30px;
  }
}

@media only screen and (max-width: 300px) {
  .project {
    position: relative;
    height: 120vh;
    padding-bottom: 30px;
    margin-top: 0vh;
  }
}

@media only screen and (max-width: 250px) {
  .project {
    position: relative;
    height: 130vh;
    padding-bottom: 30px;
    margin-top: 0vh;
  }
}

@media only screen and (max-width: 200px) {
  .project {
    position: relative;
    height: 150vh;
    padding-bottom: 30px;
    margin-top: 0vh;
  }
}

.contact__container {
  border-radius: 30px 30px 0 0;
  width: 100%;
  height: 24vh;
  background: #c4c4c440;
}

.contact h1 {
  position: relative;
  top: 30px;
  left: 30px;
  font-size: 24px;
}

.contact__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: 50px;
}

.contact__mail ul {
  margin-top: 30px;
  width: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact__mail p, .contact__num p {
  font-size: 20px;
}

@media only screen and (max-width: 768px) {
  .contact {
    overflow: hidden;
  }
  .contact h1 {
    position: relative;
    top: 4px;
    left: 40%;
    font-size: 24px;
  }
  .contact__details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    position: relative;
    top: 8px;
  }
  .contact__mail p, .contact__num p {
    margin-left: 20px;
  }
  .contact__mail ul {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 400px) {
  .contact__container {
    border-radius: 30px 30px 0 0;
    width: 100%;
    height: 30vh;
    background: #c4c4c440;
    position: relative;
    top: 28vh;
  }
  .contact h1 {
    position: relative;
    top: 30px;
    left: 30px;
    width: 80%;
    margin: 0 auto;
    font-size: 24px;
  }
  .contact__mail p, .contact__num p {
    width: 80%;
    margin: 0 auto;
    font-size: 16px;
  }
}

.footer {
  position: relative;
  background-color: #000000;
  width: 90%;
  margin: 0 auto;
  height: 100%;
  border-radius: 0  0 10px 10px;
  overflow: hidden;
}

.footer__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.footer__logo img {
  width: 40px;
  height: 40px;
  margin: 30px;
}

.footer__menu__list ul li {
  margin-left: 30px;
  padding-bottom: 20px;
}

.footer__menu__list ul li a {
  color: #fff;
}

.footer__reach h1 {
  color: #fff;
  margin-top: 60px;
  margin-bottom: 20px;
}

.footer .reach__input {
  width: 80%;
  height: 30px;
}

.footer button {
  width: 30%;
  position: relative;
  left: 25%;
  padding: 10px;
  margin-top: 30px;
  background: #0940f3;
  border: none;
  border-radius: 30px;
}

.footer__home {
  position: absolute;
  top: 100px;
  right: 80px;
  width: 40px;
  height: 40px;
  background: #F9880D;
  border-radius: 50px;
  margin: 50px 0;
}

.footer .fa-caret-up {
  font-size: 30px;
  color: #fff;
  position: relative;
  left: 12px;
  top: 2px;
}

.footer h6 {
  color: #fff;
  text-align: center;
  font-size: 16px;
  margin: 10px 0;
}

@media only screen and (max-width: 768px) {
  .footer__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .footer__home {
    top: 30px;
    margin: 0;
    right: 30px;
  }
  .footer__reach h1 {
    color: #fff;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 30px;
  }
  .footer .reach__input {
    margin-left: 30px;
  }
  .footer button {
    left: 30%;
  }
}

@media only screen and (max-width: 400px) {
  .footer {
    position: relative;
    top: 28vh;
  }
}
/*# sourceMappingURL=style.css.map */